html
    head
        meta(charset='utf-8')
        link(href='../styles/main.css' rel='stylesheet')
        link(href='../styles/reset.css' rel='stylesheet')
    body
        div.header
            ul
                li
                    a Стать партнером
                li
                    a Войти
        div.slider
            ul.navigation
                li.button
                li.button
                li.button
                li.button
                li.button
        div.service-category
            div.open
                h1 Title1
                p Есть много вариантов
                    | Lorem Ipsum, но большинство из них
                    |имеет не всегда приемлемые модификации, например,
                    |юмористические вставки или слова, которые даже
                    | отдалённо не напоминают латынь. Если вам нужен
                    | Lorem Ipsum для серьёзного проекта, вы наверняка
                    | не хотите какой-нибудь шутки, скрытой в середине абзаца.
                    | Также все другие известные генераторы Lorem Ipsum и

            div.close
                h1 Title1
                    p Есть много вариантов
                        | Lorem Ipsum, но большинство из них
                        | имеет не всегда приемлемые модификации, например,
                        | юмористические вставки или слова, которые даже
                        | отдалённо не напоминают латынь. Если вам нужен
                        | Lorem Ipsum для серьёзного проекта, вы наверняка
                        | не хотите какой-нибудь шутки, скрытой в середине абзаца.
                        | Также все другие известные генераторы Lorem Ipsum и

            div.ftp
                h1 Title1
                    p Есть много вариантов
                        | Lorem Ipsum, но большинство из них
                        | имеет не всегда приемлемые модификации, например,
                        | юмористические вставки или слова, которые даже
                        | отдалённо не напоминают латынь. Если вам нужен
                        | Lorem Ipsum для серьёзного проекта, вы наверняка
                        | не хотите какой-нибудь шутки, скрытой в середине абзаца.
                        | Также все другие известные генераторы Lorem Ipsum и

        div.steps-top
            div.circles-top
                div.circles-top_description
                    div.steps_circle-top
                    p lorem
                div.circles-top_description
                    div.steps_circle-top
                    p lorem
                div.circles-top_description
                    div.steps_circle-top
                    p lorem

        div.steps-bottom
            div.circles-bottom
                div.circles-bottom_description
                    div.steps_circle-bottom
                    p lorem
                div.circles-bottom_description
                    div.steps_circle-bottom
                    p lorem

         div.algorythm
            div.algorythm-steps
                div.algorythm-steps_points
                   div.point
                       p lorem p
                       div.algorythm-steps_point
                       p lorem d
                    div.point
                        p lorem p
                        div.algorythm-steps_point
                        p lorem d
                    div.point
                        p lorem p
                        div.algorythm-steps_point
                        p lorem d
                    div.point
                        p lorem p
                        div.algorythm-steps_point
                        p lorem d


        div.slider-bottom
            ul.slider-bottom_navigation
                li.button
                li.button
                li.button
                li.button
                li.button

         div.footer
             div.sprites
                 div.vk
                 div.vk
             div.links
                 a О нас
                 a контакты
                 a партнерство
                 a лицензия

копия паспорта код 6фоток 