[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на https://s-media-cache-ak0.pinimg.com/originals/8f/0c/54/8f0c547d43945628bbe0ea97525911b2.png
Type=Link
URL=https://s-media-cache-ak0.pinimg.com/originals/8f/0c/54/8f0c547d43945628bbe0ea97525911b2.png
Icon=image-png
